.container-reset {
    display: flex;
}

.reset-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    border-color: #007b55;
}

.content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #56B280;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #218838;
}

.login-link {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007b55;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: #aaa;
}

.image-panel {
    flex: 1;
    padding: 0px 20px 10px 20px;
}

.image-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo img {
    width: 120px;
    /* margin-bottom: 20px; */
}